@media only screen and(min-width: 769px) {
     body{
        header{
     
        text-transform: capitalize;
        color:rgb(216, 99, 226)
    } 
      
   main{
        .calculator{
        width: 50%;
        height:450px;
       div.sum{
           #screen{
               height:70px;
               line-height:60px;
           }
       }
       .container{
           margin-top:-150px ;
       }
    }

   }


}
}
@media  only screen and(min-width:) {
    
}
