@media  only screen and(min-width:481px) {
    body{
        main{
            flex-direction: column;
            .calculator{
                 height: 400px;
                 width: 80%;
              .container{
             
              
                 } 
              }
            }
        }
    }

@media only screen and(min-width: 769px) {
     body{
        header{
     
        text-transform: capitalize;
        color:rgb(216, 99, 226)
    } 
      
   main{
       flex-direction: row;
        .calculator{
        width: 40%;
        height:350px;
       div.sum{
           #screen{
               height:50px;
               line-height:60px;
           }
       }
       .container{
           margin-top:-90px ;
       }
    }

   }


}
}

