div.container{
      position:absolute;
 
  display: grid;
  border: 10px;
  border-color: black;
  width: 50%;
  background-color: aqua;
   
       
    
    p.screen{
        border: 10px;
        border-color: black; padding-left: 10px;
        margin-left: 10px;
    }

}