body header {
  text-align: start;
  text-transform: capitalize;
  color: #a03d8a;
  padding-left: 50px;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  text-align: center;
}

body main .calculator {
  width: 70%;
  height: 400px;
  display: -ms-grid;
  display: grid;
  border-style: solid;
  border-width: 3px;
  border-color: #423363;
  border-radius: 7%;
  background-color: #5a628b;
  position: absolute !important;
}

body main .calculator div.sum {
  height: 25%;
}

body main .calculator div.sum #screen {
  border-style: solid;
  border-color: #a99c64;
  background-color: #f4edc5;
  border-width: 2px;
  border-radius: 10%;
  padding-left: 10px;
  margin-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  height: 100%;
  font-size: xx-large;
  margin-top: 15px;
  color: #6e6419;
}

body main .calculator .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  padding-bottom: 10px;
  margin-top: -100px;
  margin-bottom: 5PX;
}

body main .calculator .container .numbers {
  display: -ms-grid;
  display: grid;
  row-gap: 13px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

body main .calculator .container .btn {
  border-style: solid;
  border-width: 2px;
  border-color: #423363;
  border-radius: 10%;
  padding-left: 10px;
  margin-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  font-size: xx-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #67709c;
  color: #2e2d49;
}

body main .calculator .container .btn:hover {
  background-color: #b7bedb;
}

body main .calculator .container .operators {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-right: 10PX;
}

body main .calculator .container .operators .btn-operator {
  border-style: solid;
  border-radius: 10%;
  border-color: #423363;
  border-width: 2px;
  font-size: xx-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2e2d49;
  background-color: #75709d;
}

body main .calculator .container .operators .btn-operator:hover {
  background-color: #c28dba;
}

body main .caption {
  padding-left: 50px;
}

@media only screen and (min-width: 481px) {
  body main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .calculator {
    height: 400px;
    width: 80%;
  }
}

@media only screen and (min-width: 769px) {
  body header {
    text-transform: capitalize;
    color: #d863e2;
  }
  body main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body main .calculator {
    width: 40%;
    height: 350px;
  }
  body main .calculator div.sum #screen {
    height: 50px;
    line-height: 60px;
  }
  body main .calculator .container {
    margin-top: -90px;
  }
}
/*# sourceMappingURL=style.css.map */